.content-title {
    color: var(--ion-color-primary-tint) !important;
}

.content-title-h1 {
    text-align: center;
    margin-top: 0;
    height: auto;
    /* font-size: 1.1rem; */
    color: var(--ion-color-primary-tint) !important;    
}

.content-body {
    text-align: justify;
    text-justify: distribute;
    margin-top: 0;
    padding: 0;
    color: #5d5d5d !important;
}

.toolbar-icon {
    color: var(--ion-color-primary-tint) !important;
    
}

.button-text {
    color: var(--ion-color-tertiary) !important;
    text-decoration: none;    
}

.button-text:hover {
    text-decoration: underline;    
}

.beads-row {
    position: absolute;
    margin: 5px;
    padding: 0px;
    bottom: 10%;
    right: 0%;
}

.fab {
    display: none;
}

@media screen and (min-width: 300px) and (min-height: 600px) {
    .fab {
        display: block;
    }
}

.swal2-html-container {
    max-height: 200px;
    text-align: justify;
    padding: 10px;
    text-justify: distribute;
    overflow-y: auto;
}